{% extends 'base.html' %}
{% block title %}Add New Activity{% endblock %}

{% block nav %}

<ul><a href="/">Home</a></ul>
<ul><a href="/users">View Wanderlust Community</a></ul>

{% endblock %}

{% block body %}

<h2>Place Details</h2>
<div id="search_place"></div>

<br>

<h1>Create Activity</h1>
<form action="/itinerary/{{ itinerary_id}}/{{ place_id }}/add_activity" method="POST">
    <label for="activity-name">Name of Activity:</label>
    <input type="text" name="name" id="activity-name" required>
    <label for="activity-start">Start:</label>
    <input type="datetime-local" name="start" id="activity-start">
    <label for="activity-end">End:</label>
    <input type="datetime-local" name="end" id="activity-end">
    <label for="activity-notes">Notes:</label>
    <textarea name="notes" id="activity-notes"></textarea>
    <input type="submit" name="submit">
</form>


<!-- Script to load fetch request -->
<script src="/static/js/ajax-add-activity.js"></script>
{% endblock %}