{% extends 'base.html' %}
{% block title %}Wanderlust Travel Itineraries{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="center-text">Wanderlust Itineraries</h1>

        <h2>Filter:</h2>

        <div id="filter-itineraries"></div>

        <form action="/api/itineraries/by_locale" class="filter">
            <label for="locale">Locale:</label>
            <select name="locale" id="locale-select">
                <option></option>
                {% for locale in locales %}
                    <option value="{{ locale }}">{{ locale }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="locale" id="locale-btn" class="btn btn-secondary btn-sm" value="Submit">
        </form>

        <form action="/api/itineraries/by_territory" class="filter">
            <label for="territory">Territory:</label>
            <select name="territory" id="territory-select">
                    <option></option>
                {% for territory in territories %}
                    <option value="{{ territory }}">{{ territory }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="territory" id="territory-btn" class="btn btn-secondary btn-sm" value="Submit">
        </form>

        <form action="/api/itineraries/by_country" class="filter">
            <label for="country">Country:</label>
            <select name="country" id="country-select">
                    <option></option>
                {% for country in countries %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="country" id="country-btn" class="btn btn-secondary btn-sm" value="Submit">
        </form>

        <div id="results">
            <h2>View all:</h2>
        </div>
        <div>
            <ul id="all-itineraries">
                {% for itinerary in itineraries %}
                    <li><a href="/itinerary/{{ itinerary.itinerary_id }}">{{ itinerary.itinerary_name }}</a></li>
                {% endfor  %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/ajaxFilterItineraries.js"></script>
{% endblock %}