<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- Specify document character encoding -->
        <meta charset="utf-8">

        <meta name="author" content="Luna Lam">
        <meta name="description" content="Wanderlust is a community-driven travel planning application that allows users
        to create and share personally curated travel itineraries through a standard form template. Users are able to filter 
        travel itineraries by locale (city), territory(state), or country destinations.">
        
        <!-- Set viewport -->
        <meta name="viewport" content="width=device-width">
        
        <!-- Link CSS -->
        <link rel="stylesheet" href="static/css/style.css">

        <!-- Import .js file -->
        <script src="static/js/wanderlust.js" defer></script>

        <title>{% block title %}{% endblock %}</title>

        {% block head %}{% endblock %}

    </head>
    <body>
        {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
            {{ msg }}
        </p>
        {% endfor %}

        {% block body %}
        {% endblock %}

        {% block after_body %}
        {% endblock %}
        
    </body>
</html>