<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- Specify document character encoding -->
        <meta charset="utf-8">

        <meta name="author" content="Luna Lam">
        <meta name="description" content="Wanderlust is a community-driven travel planning application that allows users
        to create and share personally curated travel itineraries through a standard form template. Users are able to filter 
        travel itineraries by locale (city), territory(state), or country destinations.">
        
        <!-- Set viewport -->
        <meta name="viewport" content="width=device-width">
        
        <!-- Link stylesheets -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <!-- Link Favicon -->
        <link rel="icon" type="image/x-icon" href="/static/images/favicon_io/favicon.ico">

        <!-- Link React dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

        <title>{% block title %}PAGE TITLE{% endblock %}</title>

        {% block head %}
        {% endblock %}

    </head>
    <body>
        <div>
            {% for msg in get_flashed_messages() %}
                <p class="flash-msg">{{ msg }}</p>
            {% endfor %}
        </div>

        <header>
            <nav>
                {% block nav%}
                {% endblock %}

                {% if "user" in session %}
                    <ul><a href="/itineraries">Explore</a></ul>
                    <ul><a href="/user/{{ session['user'] }}">My Profile</a></ul>
                    <ul><a href="/user/{{ session['user'] }}/followers">Followers</a></ul>
                    <ul><a href="/user/{{ session['user'] }}/following">Following</a></ul>
                    <ul><a href="/logout">Log-Out</a></ul>
                {% endif %}

            </nav>
        </header>

        {% block body %}
        {% endblock %}

        {% block after_body %}
        {% endblock %}
        
        <footer>
        </footer>

        {% block js %}
	    {% endblock %}
    </body>
</html>