{% extends 'base.html' %}
{% block title %}Create Account{% endblock %}

{% block body %}

<h1>Create Account</h1>
<form action="/create_user" method="POST">
    <label for="user-email">Enter your email: </label>
    <input type="email" name="email" id="user-email" required>
    <label for="user-password">Create a password: </label>
    <input type="password" name="password" id="user-password" required>
    <label for="user-username">Select a username: </label>
    <input type="text" name="username" id="user-username" required>
    <label for="user-fname">Enter your first name: </label>
    <input type="text" name="fname" id="user-fname" required>
    <label for="user-lname">Enter your last name: </label>
    <input type="text" name="lname" id="user-lname" required>
    <label for="user-locale">Current city: </label>
    <input type="text" name="locale" id="user-locale" required>
    <label for="user-territory">Current state/territory: </label>
    <input type="text" name="territory" id="user-territory" required>
    <label for="user-country">Current country: </label>
    <input type="text" name="country" id="user-country" required>
    <label for="user-about-me">About Me: </label>
    <textarea name="about_me" id="user-about-me"></textarea>
    <input type="submit" name="submit" required>
</form>

{% endblock %}