{% extends 'base.html' %}
{% block title %}Create a New Itinerary{% endblock %}


{% block nav %}
    <ul><a href="/">Home</a></ul>
    <ul><a href="/users">View Wanderlust Community</a></ul>
{% endblock %}


{% block body %}
<h1>Plan Your Trip</h1>
<form action="/create_itinerary" method="POST">
    <label for="itinerary-name">Name Your Trip: </label>
    <input type="text" name="name" id="itinerary-name" required>
    <br>
    <label for="itinerary-overview">Brief Description: </label>
    <input type="text" name="overview" id="itinerary-overview" required>
    <br>
    <label for="itinerary-locale">Destination City: </label>
    <input type="text" name="locale" id="itinerary-locale" required>
    <br>
    <label for="user-locale">Destination Territory: </label>
    <input type="text" name="territory" id="itinerary-territory" required>
    <br>
    <label for="user-country">Destination Country: </label>
    <select name="country" id="country">
        {% for country in countries %}
            <option value="{{ country.country_code }}">{{ country.country_name }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" name="submit">
</form>
{% endblock %}