{% extends 'base.html' %}
{% block title %}Edit Activity{% endblock %}


{% block body %}
<div class="container">
    <form class="row g-3" action="/itinerary/{{ itinerary_id }}/edit_activity/{{ activity_id }}/{{ place_id }}>" method="POST">
        <h4 class="">Edit Activity</h4><br>            
        <div class="col-md-6">
            <label for="activity-start" class="form-label lb-lg">Start</label>
            <input type="datetime-local" class="form-control" name="start" id="activity-start">
        </div>
        <div class="col-md-6">
            <label for="activity-end" class="form-label lb-lg">End</label>
            <input type="datetime-local" class="form-control" name="end" id="activity-end">
        </div>
        <div class="col-md-12">
            <label for="activity-notes" class="form-label lb-lg">Activity Notes</label>
            <textarea name="notes" id="activity-notes" class="form-control lb-lg"></textarea>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-secondary">Update</button>
        </div>
    </form>
</div>

{% endblock %}