{% extends 'base.html' %}
{% block title %}Wanderlust Home{% endblock %}

{% block nav %}

{% if "user" in session %}

<ul><a href="/users">View Wanderlust Community</a></ul>

{% endif %}

{% endblock %}

{% block body %}

{% if "user" in session %}

<h1>Where will adventure take you?</h1>

<ul class="start"><a href="/itineraries">View Wanderlust Travel Itineraries</a></ul>
<ul class="start"><a href="/create_itinerary">Create a New Travel Itinerary</a></ul>

{% else %}

<h1>Welcome to Wanderlust!</h2>
<h2 class="start">Adventure awaits...</h2>

<ul class="start"><a href="/login">Log-in</a></ul>
<ul class="start"><a href="/create_user">Create an account</a></ul>

{% endif %}

{% endblock %}