{% extends 'base.html' %}
{% block title %}Wanderlust Home{% endblock %}


{% block nav %}
    {% if "user" in session %}
        <ul><a href="/users">View Wanderlust Community</a></ul>
    {% endif %}
{% endblock %}


{% block body %}
    {% if "user" in session %}
        <div id="in-session"></div>
    {% else %}
        <div id="no-session"></div>
    {% endif %}
{% endblock %}

{% block js %}
	<script src="/static/components/HomepageInSession.js" type="text/jsx"></script>
    <script src="/static/components/HomepageNoSession.js" type="text/jsx"></script>
{% endblock %}