{% extends 'base.html' %}
{% block title %}Wanderlust Home{% endblock %}


{% block body %}
    <div class="container">
        <h1>Welcome to Wanderlust!</h1>
        <h2 class="start">Adventure awaits...</h2>
        <div class="container">
            <span id="log-in"></span>
            <span id="create-user"></span>  
        </div>
        <div id="display-form" class="flexbox col center"></div> 
    </div>

{% endblock %}

{% block js %}  
        <script src="/static/js/components/LogIn.js" type="text/jsx"></script>
        <script src="/static/js/components/CreateUser.js" type="text/jsx"></script>
{% endblock %}