{% extends 'base.html' %}
{% block title %}{{ itinerary.itinerary_name}}{% endblock %}


{% block body %}
    <h1>{{ itinerary.itinerary_name }}</h1>

    <h4>Creator: <a href="/user/{{ itinerary.user.username }}">{{itinerary.user.username}}</a></h4>
    <p>Overview: {{ itinerary.overview }}</p>
    <p>Destinations: 
        {% for destination in destinations %}
            {{ destination.locale }}, {{ destination.territory }}, {{ destination.country }}
        {% endfor %}
    </p>

    {% if session["user_id"] != itinerary.user_id %}
        <button id="clone-trip" name="{{ itinerary.itinerary_id }}" }}">Clone Itinerary</button>
        <div id="clone-trip-form"></div>
    {% else %}
        <button id="add-destination" name="{{ itinerary.itinerary_id }}" }}">Add Destination</button>
        <a href="/itinerary/{{ itinerary.itinerary_id }}/delete_itinerary"><button>Delete Itinerary</button></a>
        <div id="add-destination-form"></div>

        <br><br><br>

        <h2>Search Location to Add Activity</h2>

        <h3>By Name or Address</h3>
        <form action="/itinerary/{{ itinerary.itinerary_id}}/search/'temp_place_id'/details" 
            method="POST"
            target="_blank">
            <div id="autocomplete-place-id">
                <input id="autocomplete" type="text" size="50" placeholder="Ricobene's" />
                <section id="autocomplete-mount"></section>
                <input type="submit" value="Submit">
            </div>
        </form>

        <br><br>

        <h3>By Point of Interest</h3>
        <form action="/itinerary/{{ itinerary.itinerary_id }}/search" target="_blank">
            <label for="search-keyword">Description:</label>
            <input type="text" name="keyword" id="search-keyword" placeholder="Italian Restaurants">
            <br>
            <label for="search-location">Location:</label>
            <input type="text" name="location" id="search-location" placeholder="Chicago">
            <br>
            <input type="submit" name="submit">
        </form>

        <br>
    {% endif %}

    <br><br>

    <h2>Activities</h2>
    <div id="map" hidden></div><br>
    <div id="saved-activities"></div>
{% endblock %}

{% block js %}
    <!-- React -->
    <script src="/static/js/components/Activities.js" type="text/jsx"></script>

    {% if session["user_id"] == itinerary.user_id %}
        <script src="/static/js/addDestination.js"></script>
         <!-- Maps API -->
        <script src="/static/js/apiMapsAutocomplete.js"></script>
        <script async
            src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initMap">
        </script>
    {% else %}
        <script src="/static/js/cloneItinerary.js"></script>
         <!-- Maps API -->
        <script src="/static/js/apiMapsSavedPlace.js"></script>
        <script async
            src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initMap">
        </script>
    {% endif %}
{% endblock %}