{% extends 'base.html' %}
{% block title %}{{ itinerary.itinerary_name}}{% endblock %}


{% block body %}
    <h1>{{ itinerary.itinerary_name }}</h1>

    <div>
        <ul>
            <li>Creator: <a href="/user/{{ itinerary.user.username }}">{{itinerary.user.username}}</a></li>
            <li>Overview: {{ itinerary.overview }}</li>
            <li>Destinations: 
                <ul>
                {% for destination in destinations %}
                    <li>{{ destination.locale }}, {{ destination.territory }}, {{ destination.country }}</li>
                {% endfor %}
                <ul>
            </li>
        <ul>

        {% if session["user_id"] != itinerary.user_id %}
            <div id="clone-trip-btn"></div>
            <div id="clone-trip-form"></div>
        {% else %}
            <div id="add-destination-btn"></div>
            <div id="add-destination-form"></div>

            <a href="/itinerary/{{ itinerary.itinerary_id }}/delete_itinerary"><button>Delete Itinerary</button></a>
        {% endif %}
    </div>
    
    {% if session["user_id"] == itinerary.user_id %}
        <h2>Search Location to Add Activity</h2>
        <button id="autocomplete-btn">By Name or Address</button>
        <div id="display-autocomplete-form" hidden>
            <form action="/itinerary/{{ itinerary.itinerary_id}}/search/{{ itinerary.itinerary_id }}/details" 
                method="POST">
                <div id="autocomplete-place-id">
                    <input id="autocomplete" type="text" size="50" placeholder="Ricobene's" />
                    <section id="autocomplete-mount"></section>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div id="search-poi"></div>
        <div id="display-search-form"></div>
        
    {% endif %}

    <h2>Activities</h2>
    <div id="map" hidden></div><br>
    <div id="saved-activities"></div>
{% endblock %}

{% block js %}
    <!-- React -->
    <script src="/static/js/components/Activities.js" type="text/jsx"></script>
    <script src="/static/js/toggleAutocomplete.js"></script>
    {% if session["user_id"] == itinerary.user_id %}
         <!-- React -->
        <script src="/static/js/components/AddDestination.js" type="text/jsx"></script>
        <script src="/static/js/components/SearchLocationPOI.js" type="text/jsx"></script>
         <!-- Maps API -->
        <script src="/static/js/apiMapsAutocomplete.js"></script>
        <script async
            src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initMap">
        </script>
    {% else %}
        <!-- React -->
        <script src="/static/js/components/CloneItinerary.js" type="text/jsx"></script>
         <!-- Maps API -->
        <script src="/static/js/apiMapsSavedPlace.js"></script>
        <script async
            src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initMap">
        </script>
    {% endif %}
{% endblock %}