{% extends 'base.html' %}
{% block title %}{{ results["name"] }}{% endblock %}


{% block nav %}
<ul><a href="/">Home</a></ul>
<ul><a href="/users">View Wanderlust Community</a></ul>
{% endblock %}


{% block body %}

<div id="map"></div>


<h1>{{ results["name"] }}</h1>

{% if "formatted_address" in results %}
<p>Address: <a href="{{ results['url'] }}" target="_blank">{{ results["formatted_address"] }}</a></p>
{% endif %}

{% if "phone" in results %}
<p>Phone: {{ results["phone"] }}</p>
{% endif %}

{% if "website" in results %}
<p>Website:     
    <a href="{{ results['website'] }}" target="_blank">{{ results["website"] }}</a> 
</p>
{% endif %}

{% if "rating" in results %}
<p>Rating: {{ results["rating"] }} out of {{ results["user_ratings_total"] }} total reviews</p>
{% endif %}

{% if "hours" in results %}
<p>Business Hours: 
    {% for hour in hours %}
    <ul>{{ hour }}</ul>
    {% endfor %}
</p>
{% endif %}


<p><a href="/itinerary/{{ itinerary_id }}/{{ results['place_id'] }}/add_activity"><button>Add Location to New Activity</button></a></p>


<!-- Script to load Google Maps -->
<script src="/static/js/maps.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initMap">
</script>

{% endblock %}