{% extends 'base.html' %}
{% block title %}{{ results["name"] }}{% endblock %}


{% block body %}
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            {% if "website" in results %}
                <h1 class="text-center"><a href="{{ results['website'] }}" target="_blank">{{ results["name"] }}</a></h1>
            {% else %}
                <h1 class="text-center">{{ results["name"] }}</h1>
            {% endif %}

            {% if "rating" in results %}
                <div class="sub-main">
                    <h5>Rating</h5> 
                    <p>{{ results["rating"] }} out of {{ results["user_ratings_total"] }} reviews</p>
                </div>
            {% endif %}

            {% if "formatted_address" in results %}
                <div class="sub-main">
                    <h5>Address</h5>
                    <a href="{{ results['url'] }}" target="_blank">{{ results["formatted_address"] }}</a>
                </div>
            {% endif %}
            
            {% if "phone" in results %}
                <div class="sub-main">
                    <h5>Phone</h5>
                    <p> {{ results["phone"] }}</p>
                </div>
            {% endif %}

            {% if "website" in results %}
                <div class="sub-main">
                    <h5>Website</h5>
                    <a href="{{ results['website'] }}" target="_blank">{{ results["name"] }}</a>
                </div>
            {% endif %}

            {% if "hours" in results %}
                <div class="sub-main">
                    <h5>Business Hours</h5> 
                    <ul>
                    {% for hour in hours %}
                        <li>{{ hour }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if "opening_hours" in results %}
                <div class="sub-main">
                    <h5>Operating Hours</h5>
                    <ul>
                        {% for text in results["opening_hours"]["weekday_text"] %}
                            <li>{{ text }}<li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="sub-main">
                <h5>Map</h5>
                <div id="place-map" class="all-maps"></div>
            </div>

            {% if "reviews" in results %}
                <div class="sub-main">
                    <h5>Recent Reviews:</h4>
                    {% for review in results["reviews"] %}
                        <section class="review-card text-center">
                            <a href='{{ review["author_url"] }}' target="_blank"><img src='{{ review["profile_photo_url"] }}' class="profile-pic"></a>
                            <a href='{{ review["author_url"] }}' target="_blank"><p>{{ review["author_name"] }}</p></a>
                            <p>Rating: {{ review["rating"] }}/5</p>
                            <p class="overflow-scroll">{{ review["text"] }}</p>
                        </section>
                    {% endfor %}
                </div>
            {% else %}
                <div class="sub-main">
                    <h5>Recent Reviews:</h5>
                    <p>Currently no reviews for {{ results["name"] }}!</p>
                </div>
            {% endif %}

        </div>

        <div class="col sticky-top sticky-margin"> 
            <form id="place-form" class="row g-3" action="/itinerary/{{ itinerary_id }}/{{ place_id }}/add_activity">
                <h4 class="text-center main-heading">Ready to add <a href="{{ results['url'] }}" target="_blank">{{ results["name"] }}</a> to Itinerary?</h4><br>            
                <div class="col-md-6">
                    <label for="activity-start" class="form-label lb-lg">Start</label>
                    <input type="datetime-local" class="form-control" name="start" id="activity-start">
                </div>
                <div class="col-md-6">
                    <label for="activity-end" class="form-label lb-lg">End</label>
                    <input type="datetime-local" class="form-control" name="end" id="activity-end">
                </div>
                <div class="col-md-12">
                    <label for="activity-notes" class="form-label lb-lg">Activity Notes</label>
                    <textarea name="notes" id="activity-notes" class="form-control lb-lg"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <!-- Maps API -->
    <script src="/static/js/apiMapsPlaceSearch.js"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initMap">
    </script>
{% endblock %}
