{% extends 'base.html' %}
{% block title %}{{ display_user.username }}'s page{% endblock %}


{% block body %}
    <h1>{{ display_user.username }} </h1>
    <ul id="about-me">
        <li>{{ display_user.locale }}, {{ display_user.territory }}, {{ display_user.country }}</li>
        <li>{{ display_user.about_me }}</li>
    </ul>

    <br>

    {% if display_user.username != session["user"] %}
        <ul id="follow">
            <li><a href="/user/{{ display_user.username }}/follow_me">Follow Me</a></li>
            <li><a href="/user/{{ display_user.username }}/followers">Followers</a></li>
            <li><a href="/user/{{ display_user.username }}/following">Following</a></li>
        </ul>
        
        <br>
    {% else %}
        <div id="create-itinerary"></div>
    {% endif %}

    <br>
    
    <h2> My Trips</h2>
    <ul>
    {% for itinerary in user_itineraries %}
        <li><a href="/itinerary/{{ itinerary.itinerary_id }}">{{ itinerary.itinerary_name }}</a></li>
    {% endfor %}
    <ul>
{% endblock %}

{% block js %}
    {% if display_user.username == session["user"] %}
        <script src="/static/js/components/CreateItinerary.js" type="text/jsx"></script>
    {% endif %}
{% endblock %}