{% extends 'base.html' %}
{% block title %}{{ user.username }}'s page{% endblock %}


{% block body %}
    <div>
        <h1>{{ user.username }} </h1>
        <ul id="about-me">
            <li>{{ user.locale }}, {{ user.territory }}, {{ user.country }}</li>
            <li>{{ user.about_me }}</li>
        </ul>

        <ul id="follow" class="horizontal-list">
            {% if user.username != session["user"] %}
                <li><button><a href="/user/{{ user.username }}/follow_me">Follow Me</a></button></li>
            {% endif %}
            <li><button id="my-followers-btn">Followers</button></li>
            <li><button id="following-btn">Following</button></li>
        </ul>
    <div>
        

    <div id="my-followers" hidden>
        <h2>Followers</h2>
        {% if followers|length > 0 %}
            <ul>
                {% for follower in followers %}
                    <li><a href="/user/{{ follower.follower.username }}">{{ follower.follower.username }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No current followers.</p>
        {% endif %}
    </div>
    
    <div id="following" hidden>
        <h2>Following</h2>
        {% if following|length > 0 %}
            <ul>
                {% for follower in following %}
                    <li><a href="/user/{{ follower.user_followed.username }}">{{ follower.user_followed.username }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You are not currently following anyone.</p>
        {% endif %}
    </div>

    {% if user_itineraries|length > 0 %}
        <div>
            <h2>My Adventure Map</h2>
            <section id="my-map"></section>
        </div>
    {% endif %}

    <div>
        <h2>My Itineraries</h2>
        {% if user.username == session["user"] %}
            <div id="create-itinerary"></div>
                <section id="mount-itinerary"></section>
        {% endif %}
        <ul>
        {% for itinerary in user_itineraries %}
            <li><a href="/itinerary/{{ itinerary.itinerary_id }}">{{ itinerary.itinerary_name }}</a></li>
        {% endfor %}
        <ul>
    </div>

{% endblock %}

{% block js %}
    <script src="/static/js/toggleFollowers.js"></script>
    <!-- Maps API -->
    <script src="/static/js/apiMapsUserDestinations.js"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initMap">
    </script>
    {% if user.username == session["user"] %}
        <script src="/static/js/components/CreateItinerary.js" type="text/jsx"></script>
    {% endif %}
{% endblock %}