{% extends 'base.html' %}
{% block title %}{{ display_user.username }}'s page{% endblock %}


{% block nav %}
<ul><a href="/">Home</a></ul>
<ul><a href="/users">View Wanderlust Community</a></ul>
{% endblock %}


{% block body %}
<h1>{{ display_user.username }} </h1>

<div id="about-me">
    <ul>{{ display_user.locale }}, {{ display_user.territory }}, {{ display_user.country }}</ul>
    <ul>{{ display_user.about_me }}</ul>
</div><br>

{% if display_user.username != session["user"] %}
<h2>2.0 Feature: Click here to Follow Me</h2>
<div>
    <ul><a href="/user/{{ display_user.username }}/followers">Followers</a></ul>
    <ul><a href="/user/{{ display_user.username }}/following">Following</a></ul>
</div><br>

{% else %}
<h2><a href="/create_itinerary">Ready to Plan Another Trip?</a></h2><br>

{% endif %}


<h2>My Travel Itineraries</h2>
{% for itinerary in user_itineraries %}

<ul><a href="/itinerary/{{ itinerary.itinerary_id }}">{{ itinerary.itinerary_name }}</a></ul>

{% endfor %}

{% endblock %}